out/
.idea/
WhatsApp Image -03-18 at 15.17.18.jpeg
/WhatsApp Image 2026-03-18 at .19.jpeg
/WhatsApp Image 2026-03-18 at 15.20.jpeg
/WhatsApp Image 2026-03-1815.20.jpeg
/6pm1.jpeg
/6pm2.jpeg
/6pm3.jpeg
/java_class.iml
/pay.jpeg